/*后台样式表
时间：20170720
作者：HXC
*/

/*顶部nav*/

.nav_top{
	width: 100%;
	height: 60px;
	background: #393D49;
	display: inline-block;
	float: left;
	box-shadow: 0 1px 5px 0 rgba(51, 51, 51, 0.42);
}

.nav_title{
	display: inline-block;
	width: 300px;
	height: auto;
	font-size: 25px;
	color: #8bc34a;
	line-height: 60px;
	margin-left: 10px;
}

.nav_li{
	float: right;
	display: inline-block;
}


/*左侧导航开始*/
.left_nav{
	background: #393D49;
	width:200px;
	height:105%;
	display: inline-block;
	float: left;
}

/*系统信息*/
.home_box{
  display: inline-block;
  position: absolute;
}

.home_li{
  width: 300px;
  height: 140px;
  background: #ddd;
  border-radius:5px;
  margin:10px;
  display: inline-block;
 
}
.home_li:hover{
  background: #009688;
  color: #ddd;
  cursor: pointer;
  transition: 0.3s;
}
.home_img{
  width: 80px;
  height: 100px;
 
  margin:20px 10px 20px 20px;
  display: inline-block;
  float: left;
}
.home_title{
  width: 150px;
  height: 50px;
  line-height:50px;
  font-size: 25px;
  float: left;
  margin-top: 20px;
}
.home_con{
  width: 150px;
  height: 50px;
  float: left;
  font-size: 16px;
}
.home_div a{
  color: #000;
}


/*管理员/博主名片页*/

.card_box{
	width:70%;
	display: inline-block;
	margin: 0px 0px 0px 5px;
}

.admin_bg{
	background: #fff;
}

.adminpic{
	display: inline-block;
	width: 150px;
	height: 150px;
	float: left;
	padding:10px;
}

.adminpic img{
	width:100px;
	height:100px;
}

.card_text{
	display: inline-block;
	width: 400px;
	height: 150px;
	float: left;padding: 10px;
}

/*文章列表页*/
.art_list{
	width:70%;
	display: inline-block;
	margin: 0px 0px 0px 5px;
}

/*分类栏目页*/
.cate_box{
	width:70%;
	display: inline-block;
	margin: 0px 0px 0px 5px;
}

.cate_nav{
	display: inline-block;
	padding-left: 20px;
}

/*文章编辑*/
.edit_box{
	width:70%;
	display: inline-block;
	margin: 0px 0px 0px 10px;
}

/*管理员密码修改页*/

.pass_box{
	width:70%;
	display: inline-block;
	margin: 0px 0px 0px 10px;
}
.pass_form{
	padding: 10px 0px 50px 50px;
	display: inline-block;
}

/*版本与计划*/
.plan_box{
	width:70%;
	display: inline-block;
	margin: 0px 0px 0px 10px;
}

/*后台登录界面*/
.login_box{
  background: #fff;
  padding: 25px 0px 50px 100px;
  width: 500px;height: auto;
  margin:0 auto;
  margin-top: 50px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
}
.login_title{
  font-size: 25px;
  margin-left: 40px;
  text-align: center;
  padding: 20px 0px 10px 20px;
  width: 200px;
}
.text-danger{
	padding: 10px 0px 10px 0px;
}